.heder{

 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 15px 30px;

}


.rr{


   margin-right: 20px;
   text-decoration: none;
    color: #333;
  font-size: 18px;


}


.ll{

  display: flex;
 align-items: center;


}


.logo{


   width: 50px;
   height: 50px;
   border-radius: 50%;
}


