body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f3ee;
}


.header-bar {
    background: #8B4513;
    color: white;
    text-align: center;
    padding: 20px 0;
}


.container {
    width: 90%;
    margin: auto;
    margin-top: 30px;
}


.about-box {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    display: flex;
    align-items: stretch; 
    gap: 20px;
    padding: 20px;
}


.img-box {
    width: 20%;
}

.about-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.about-text {
    width: 55%;
    display: flex;
    flex-direction: column;
}

.about-text h2 {
    color: #8B4513;
    margin-bottom: 15px;
}

.about-text p {
    line-height: 3;
    font-size: 16px;
    color: #333;
    flex-grow: 1;
}

.read-btn {
    margin-top: 5px;
    padding: 10px 20px;
    border: none;
    background: #8B4513;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.read-btn:hover {
    background: #a05a2c;
}