* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;

    
    background: url("cafe-bg.jpg") center center / cover no-repeat fixed;
}


.bg-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
}


.login-wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.login-box {
    width: 510px;
    padding: 50px 55px;
    border-radius: 24px;
    background: rgba(15, 15, 15, 0.65);
    border: 1px solid rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    color: #fff;
}


.login-box h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 700;
}


.field {
    margin-bottom: 18px;
}

.field label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    opacity: 0.95;
    color: #fff;
}

.field input {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 0px;
    font-size: 15px;
    background: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.9);
    color: #fff;
    padding-left: 0%;
}

.field input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}


.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin: 15px 0 25px;
}

.options a {
    color: #ffffff;
    text-decoration: none;
    opacity: 0.9;
}

.options a:hover {
    text-decoration: underline;
}

.remember {
    display: flex;
    align-items: center;
    gap: 6px;
}

.remember input {
    width: auto;
    accent-color: #ffffff;
}


.btn-login {
    background-color: #ffffff;
    color: #333;
    border: none;
    width: 90%;
    padding: 14px;
    border-radius: 35px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin: 0 auto 15px;  
    display: block;
    transition: 0.3s;
}

.btn-login:hover {
    background-color: #eeeeee;
}


.register-text {
    text-align: center;
    font-size: 13px;
}

.register-text a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.register-text a:hover {
    text-decoration: underline;
}

.navbar2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color:rgba(60, 40, 20, 0.75);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    z-index: 3;
    backdrop-filter: blur(10px);
}

.logo h2 {
    color: #ffffff;
    margin: 0;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 25px;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover,
.nav-links .active {
    color: #dcb58f;
}