body 
{
    margin:0;
    font-family: "poppins", arial,sans-serif;
    background-color: #e4d3c5; 
    color: #333;
}


header
{
    background-color: #4b2e05;
    color: #8B4513;;
    text-align: center;
    padding: 20px 10px;
}
header .logo {
    width: 100px; 
    height: auto;
    display: block;
    margin: 0 ; 
}


.menu h2
{
   color: rgb(104, 50, 17);
   text-decoration: underline;
   font-weight: bold;
   font-size: 3cap;
}
.intro
{
    background-color: #8B4513;
    background-size: cover;
    background-position: center;
    color: white;

}
/*.navbar {
    background-color: #8B4513; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    color: white;
}
*/


/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #7b4e2d;;
    color: white;
}

.navbar h2 {
    margin: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}
nav ul 
{
    list-style: none;
}
nav a 
{
    color:wheat;
    font-weight: bold;
}
section a 
{
    color: wheat;
}
.menu
{
    background-color:  #e6c9a3;
    text-align: center ;
    padding:60px 20px;

}
.menu-item img
{
   width: 30%;
  height: 60%;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease;
}
img:hover
{
transform: scale(1.1);
}
.price
{
    color: rgb(170, 12, 70);
    font-weight: bold;
    display: block;
}






.menu-item p {
    font-size: 16px;
    color:  #4b2e05;        
    margin: 8px 0;         
    font-weight: 400;
    letter-spacing: 0.5px; 
    line-height: 1.5;      
    font-family: "Poppins", sans-serif;  
    font-style: italic;
}








.logo h2 {
    margin: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #dcb58f; 
}
nav ul 
{
    list-style: none;
}
nav a 
{
    color:wheat;
    font-weight: bold;
}
section a 
{
    color: wheat;
}
.menu
{
    background-color:  #e6c9a3;
    text-align: center ;
    padding:60px 20px;

}


