body {
     font-family: Arial; 
     background: #f8f8f8; 
     padding: 20px; 
    }
.product-box {
    max-width: 400px;
     margin: auto;
      background: white; 
      padding: 20px; 
      border-radius: 12px;
       box-shadow: 0 0 10px rgba(0,0,0,0.1);
     }
.product-box img {
     width: 100%;
      border-radius: 12px;
     }
h2 { 
    margin-top: 10px;
 }
textarea {
     width: 100%;
      height: 80px;
       margin-top: 10px;
        padding: 10px;
         border-radius: 8px;
          border: 1px solid #ccc; 
}
button {
     margin-top: 15px;
      padding: 12px; 
      width: 100%; 
      border: none; 
      background: #73421f; 
      color: white;
       font-size: 18px;
       border-radius: 8px;
       cursor: pointer; 
    }
