body 
{
    margin:0;
    font-family: "poppins", arial,sans-serif;
    background-color:rgb(255, 255, 255);
    color: #333;
}
header
{
    background-color: #4b2e05;
    color: white;
    text-align: center;
    padding: 20px 10px;
}
header .logo {
    width: 100px; 
    height: auto;
    display: block;
    margin: 0 ; 
}
.intro
{
    background-color:#4b2e02 ;
    background-size: cover;
    background-position: center;
    color: white;

}
.header-bar {
    background: #8B4513;
    color: white;
    text-align: center;
    padding: 20px 0;
}
nav ul 
{
    list-style: none;
}
nav a 
{
    color:wheat;
    font-weight: bold;
}
section a 
{
    color: wheat;
}
.menu
{
    background-color: #dbae65;
    text-align: center ;
    padding:60px 20px;

}
.menu-item img
{
   width: 500px;
  height: 400px;
    border-radius: 10px;
    object-fit: cover;
}
.price
{
    color: rgb(170, 12, 70);
    font-weight: bold;
    display: block;
}
