body 
{
    margin:0;
    font-family: "poppins", arial,sans-serif;
    background-color:#8B4513;
    color: #333;
}
header
{
    background-color: #4b2e05;
    color: #8B4513;;
    text-align: center;
    padding: 20px 10px;
}
header .logo {
    width: 100px; 
    height: auto;
    display: block;
    margin: 0 ; 
}
.intro
{
    background-color: #8B4513;
    background-size: cover;
    background-position: center;
    color: white;

}
.navbar {
    background-color: #8B4513; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    color: white;
}

.logo h2 {
    margin: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #dcb58f; 
}
nav ul 
{
    list-style: none;
}
nav a 
{
    color:wheat;
    font-weight: bold;
}
section a 
{
    color: wheat;
}
.menu
{
    background-color:  #e6c9a3;
    text-align: center ;
    padding:60px 20px;

}
.menu-item img
{
   width: 30%;
  height: 60%;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease;
}
img:hover
{
transform: scale(1.1);
}
.price
{
    color: rgb(170, 12, 70);
    font-weight: bold;
    display: block;
}

